* { margin: 0; padding: 0; }
body { font:20px "メイリオ",arial,helvetica,clean,sans-serif; }
html,body { -webkit-text-size-adjust: none; }
.clear { clear:both; }
a { color: #222222; text-decoration:none; }
a:link { color: #222222; text-decoration:none; }
a:visited { color: #222222; text-decoration:none; }
a:hover { color: #222222; text-decoration:none; }
a:active { color: #222222; text-decoration:none; }

/*--------------------------------------------------------
	ページ
--------------------------------------------------------*/

.header {
	width:100%;
	height:auto;
	position:relative;
}

.header_img {
	width:100%;
	height:auto;
}

.other {
	width:auto;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}

.d_app {
	width:100%;
	padding-top:24px;
}



/*******-------------------------------------------
	アプリエリア
-------------------------------------------*******/

.link_area{
	display:block;
	width:100%;
}


.input{
	width:10%;
	padding: 0 2%;
	text-align:center;
	background-color:#42B6C9;
	border:solid 1px #ffffff;
	position: absolute;
	bottom: 8%;
	right: 4%;
	font-size: 80%;
	font-weight: bold;
	color: white;
}

.inp_sum{
	color:#fff;
}

.l_app_w {
	width:100%;
/*	background:#fff; */
	background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#ffffff), to(#f6f6f6));
	padding-top:3%;
	padding-bottom:3%;
	position:relative;
	border-bottom: 1px solid #bbb;
}

.l_app_g {
	width:100%;
/*	background:#eee; */
	background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#ffffff), to(#f6f6f6));
	padding-top:3%;
	padding-bottom:3%;
	position:relative;
	border-bottom: 1px solid #bbb;
}

@media screen and (max-width: 480px) {
.app_name{
	font-size:90%;
}

.app_text {
	font-size:52%;
}

.left_area { float:left; width:16%; margin:0 3% 0 4%; }
.right_area { float:left; width:72%;  }


.new_mark {
	position:absolute;
	width:18%;
	height:auto;
	top:0;
	right:0;
}

}


@media screen and (min-width: 480px) {
.app_name{
	font-size:120%;
}

.app_text {
	font-size:90%;
}

.left_area { float:left; width:6%; margin:0 3% 0 4%; }
.right_area { float:left; width:84%; }


.new_mark {
	position:absolute;
	width:14%;
	height:auto;
	top:0;
	right:0;
}
}


.app_name {
	width:100%;
	margin-bottom:2%;
	font-weight: bold;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.app_name_d { font-size:124%; margin-left:4%; margin-bottom:0%; font-weight: bold; height:2em;}

.left_area { float:left; width:16%; margin:0 3% 0 4%; }
.right_area { float:left; width:72%;  }

.app_icon {
	width:100%;
	display: inline-block;
	border-radius:16%;
	-webkit-border-radius: 16%;
	-moz-border-radius: 16%;
	overflow:hidden;
}

.app_value {
	margin:8% 5% 0 5%;
	border:solid 1px #bbb;
	background:#fff;
	border-radius:4px;
	-webkit-border-radius: 4px;
	width:90%;
	font-size:100%;
	color:#222;
	text-align:center;
	padding:2% 0 2% 0;
}

.app_text {
	width:98%;
	overflow:hidden;
	line-height:1.2;
	color:#222;
}

.boreder {border: solid 1px #aaaaaa; width:94%; margin:24px auto;}

.ss_area {
	width:100%;
	text-align:center;
	margin:24px 0 0 0;
}

.app_ss {
	width:44%;
	margin:0 2%;
}

.app_ss2 {
	width:40%;
	margin-left:4%;
}

.play_link_dt {
	margin:5% auto 0%;
	width:100%;
	padding:2% 0 2% 0;
	text-align:center;
	background-color:#42B6C9;
	border:solid 2px #ffffff;
}

.play_link_db {
	margin:4% auto 4%;
	width:92%;
	padding:4% 0 4% 0;
	text-align:center;
	background-color:#42B6C9;
	border:solid 2px #ffffff;
}

.link_pic_dt {width:50%;}
.link_pic_db {width:72%;}

.link_area_s { margin-top:4%; width:100%; }

.gplay_btn {
	width:48%;
	padding: 5% 24%;
	text-align:center;
	background-color:#42B6C9;
	border:solid 2px #ffffff;
	margin:0 2% 0 1%;
}

.mreview_btn {
	width:24%;
	padding:5% ;
	background-color:#42B6C9;
	border:solid 2px #ffffff;
}


/*--------------------------------------------------------
	common.css
--------------------------------------------------------*/

.boreder_list {
	border: solid 1px #eee;
	width:99%;
}



.review_disp_area {
	width:90%;
	margin:0 auto;
	padding:2%;
	border-radius:8px;
	background-color:#fff;
	border:solid 2px #aaa;
}

.review_disp { font-size:120%; text-shadow:1px 0 1px black;valign:middle; }

/***** 必須プロパティ *****/
.slider {position:relative;}
.slider .slider_frame {position:relative; overflow:hidden; }
.slider .slider_frame .slider_bar {position:absolute; left:0; }
.slider .slider_frame .slider_bar > a,
.slider .slider_frame .slider_bar > li,
.slider .slider_frame .slider_bar > ul {display:block; float:left;} 

/***** デザインサンプル *****/
#slider1 {height:100%; border:solid 1px #000; margin-top:40px;}
#slider1 .slider_frame {height:100%; background:#eee; }
#slider1 .slider_frame .slider_bar { border:none; }
#slider1 .slider_frame .slider_bar a {text-align:center; padding:2px 0;}


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; outline:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

ul,ol {list-style:none;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}

del {text-decoration:line-through;}

abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}

table {border-collapse:collapse; border-spacing:0;}

input, select {vertical-align:middle;}

img {vertical-align:bottom; border:none; font-size:0; line-height:0;}

em {font-style:normal;}

.clearfix:after {content: ""; display: block; clear: both;}

body {-webkit-text-size-adjust:none;}

.clear { clear: both;}


#fixed_head{
	width:100%;
	height:38px;
	background:url("../img/head_fixed.png");
	background-repeat:repeat-x;
	border-bottom:1px solid #bbb;
	z-index:100;
}

#fixed_head p{
	color:#fff;
	padding: 2% 0 2% 4%;
	letter-spacing:1px;
	font-size:1em;
	font-weight:bold;
	position:relative;

}


#title_head{
	width:100%;
	height:40px;
	background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#a4c639), to(#73ab08));
	border-bottom:1px solid #bbb;
	z-index:100;
	box-shadow:0 1px 2px #000;
	position:fixed;
	top:0;
	left:0;
}

#title_head p{
	color:#fff;
	padding: 2% 0 2% 4%;
	letter-spacing:1px;
	font-size:10px;
	font-weight:bold;
	position:relative;

}

#title_head .kiyaku_btn{
	background:url("../img/i_btn.png");
	width:32px;
	height:31px;
	position:absolute;
	top:4px;
	right:12px;
	border:0;
	margin:0;
	padding:0;
}

#title_head #muryo img{
	margin-right:3%;
	width: 7%;
}


.bg_vectol{
	position:absolute;
	right:1%;
	bottom: 3%;
	width: 6%;
}

